#folder
.vscode
Crawling/image
MachineLearning/image
MachineLearning/model
web/node_modules/@tensorflow/

MachineLearning/Categories.txt
MachineLearning/label.txt
MachineLearning/train.hdf5
MachineLearning/test.hdf5
MachineLearning/train1.hdf5
MachineLearning/test1.hdf5
MachineLearning/data.hdf5
MachineLearning/image.zip
MachineLearning/temp.py
ML