html, body {
    margin-right: 0;
    height: 100%;
}

#main {

    position: absolute;
    width: 100%;
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
 * ====================================================================================
 * loading
 * ====================================================================================
 */
.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

.loader {
    margin-top: 20vh;
    border: 13px solid #f3f3f3;
    border-top: 13px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}


/*
 * ====================================================================================
 * logo
 * ====================================================================================
 */
#logo {
    width: 100%;
    height: 118px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}

/*
 * -----------------------------
 * retry
 * -----------------------------
 */
#retry {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 30px;
    width: 75px;
    height: 75px;
}
#retry:hover #img-search {
    opacity: 0.5;
}
#retry:hover #img-return {
    opacity: 1;
}
#img-search {
    opacity: 1;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    transition: .1s ease;
}
#img-return {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: .3s ease;
}

/*
 * ====================================================================================
 * result
 * ====================================================================================
 */
#result {
    position: relative;
    width: 100%;
    height: 100%;
}

/*
 * -----------------------------
 * result-main
 * -----------------------------
 */

#result-main {
    position: relative;
    width: 100%;
    height: 100%;
}
#result-container01 {
    position: relative;
    width: 100%;
    height: 305px;
}
#slide-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 350px;
    height: 305px;
    object-fit: contain;
}
#slide-prev, #slide-next {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 45%;
    margin-bottom: 45%;
    color: #7fdcc7;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}
#slide-prev:hover, #slide-next:hover {
    background-color: rgba(127, 220, 199, 0.5);
    color: #ffffff;
}
#slideshow {
    display: table-cell;
    width: 300px;
    height: 305px;
}
.slide {
    display: none;
    width: 100%;
    height: 100%;
}
.slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 300px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .3));
}

/*
 * -----------------------------
 * result-info
 * -----------------------------
 */
#result-container02 {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
#result-info {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 100%;
}
#dots {
     position: relative;
     text-align: center;
    padding-top: 10px;
     width: 350px;
     height: 50px;
 }
.dot {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
#details {
    position: relative;
    text-align: center;
    width: 350px;
    height: 300px;
}
.result-name {
    font-family: 'Jeju Gothic', sans-serif;
    display: inline-block;
}

/*
 * ====================================================================================
 * other results
 * ====================================================================================
 */
#result-others {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
}
#scroll-up, #scroll-down {
    position: relative;
    left: 50%;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-top: 45%;
    margin-bottom: 45%;
    color: #7fdcc7;
    font-size: 18px;
    transition: 0.6s ease;
}
#scroll-up:hover, #scroll-down:hover {
    background-color: rgba(127, 220, 199, 0.5);
    color: #ffffff;
}
#scroll-container {
    overflow: auto;
    position: relative;
    width: 90%;
    height: 450px;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
#scroll-container::-webkit-scrollbar {
    display: none !important;
}
.scroll {
    right: 0;
    width: 100%;
    height: 100%;
}
.modal-container {
    display: table;
    margin: 0 auto 20px auto;
    border-radius: 40px 0 0 40px;
    position: relative;
    width: 100%;
    height: 130px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}
.modal-container img {
    background-color: #3498db;
    border-radius: 40px 0 0 40px;
    width: 35%;
    height: 100%;
    display: inline-block;
    position: relative;
    object-fit: cover;
    vertical-align: middle;
}
.modal-content {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
}
.modal-content p {
    text-align: left;
    vertical-align: middle;
}

/*
 * ====================================================================================
 * progress bar
 * ====================================================================================
 */
.result-name.other {
    position: absolute;
    margin: 10px 10%;
    font-family: 'Jeju Gothic', sans-serif;
    display: inline;
    font-size: 1vw;
}
.progress {
    background: #7fdcc7;
    box-shadow: 0 10px 10px -10px #7fdcc7;
    border-radius: 40px;
    display: flex;
    height: 10%;
    width: 80%;
    margin: 20px auto;
}
.progress.other {
    position: absolute;
    margin-left: 10%;
    margin-top: 60px;
}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 10px -10px #f8a986;
    border-radius: 40px 0 0 40px;
    background: #f69365;
    height: 100%;
    width: 0;
}
.progress-txt {
    font-family: 'Jeju Gothic', sans-serif;
    margin: 5px auto;
    font-size: 30px;
}
.progress-txt.other {
    position: absolute;
    font-size: 1vw;
    margin-left: 40%;
    margin-top: 100px;
}


/*
 * ====================================================================================
 * effect
 * ====================================================================================
 */
@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes load {
    0% { width: 0; }
    100% { width: 68%; }
}