html, body {
    margin-right: 0;
    height: 100%;
}

#main {
    display: table;
    width: 100%;
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
 * ====================================================================================
 * logo
 * ====================================================================================
 */
#logo {
    width: 100%;
    height: 110px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}
#logo-img {
    position: relative;
    left: 125px;
}
#logo-txt {
    margin: 0;
}

/*
 * ====================================================================================
 * result
 * ====================================================================================
 */
#result {
    display: table-cell;
    position: relative;
    width: 70%;
    height: 100%;
}

/*
 * -----------------------------
 * retry
 * -----------------------------
 */
#retry {
    position: relative;
    padding-bottom: 30px;
    left: 68%;
    width: 75px;
    height: 75px;
}
#retry:hover #img-search {
    opacity: 0.5;
}
#retry:hover #img-return {
    opacity: 1;
}
#img-search {
    opacity: 1;
    position: relative;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    transition: .3s ease;
}
#img-return {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 18%;
    left: 15%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: .3s ease;
}

/*
 * -----------------------------
 * result-main
 * -----------------------------
 */

#result-main {
    position: relative;
    width: 100%;
    height: 100%;
}
#result-container01 {
    position: relative;
    width: 100%;
    height: 305px;
}
#slide-container {
    display: table;
    position: relative;
    left: 52.5%;
    width: 350px;
    height: 305px;
    object-fit: contain;
}
#slide-prev, #slide-next {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 45%;
    margin-bottom: 45%;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}
#slide-prev:hover, #slide-next:hover {
    background-color: rgba(0, 0, 0, .2);
}
#slideshow {
    display: table-cell;
    width: 300px;
    height: 305px;
}
.slide {
    display: none;
    width: 100%;
    height: 100%;
}
.slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 300px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .3));
}

/*
 * -----------------------------
 * result-info
 * -----------------------------
 */
#result-container02 {
    position: relative;
    width: 100%;
    height: 100%;
}
#result-info {
    position: relative;
    left: 52.5%;
    width: 350px;
    height: 100%;
}
#dots {
     position: relative;
     text-align: center;
    padding-top: 10px;
     width: 350px;
     height: 50px;
 }
.dot {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
#details {
    position: relative;
    text-align: center;
    width: 350px;
    height: 300px;
}
#result-name {
    margin: 0;
}

/*
 * ====================================================================================
 * other results
 * ====================================================================================
 */
#result-others {
    display: table-cell;
    position: relative;
    width: 20%;
    height: 100%;
}
#scroll-up, #scroll-down {
    position: relative;
    left: 50%;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 45%;
    margin-bottom: 45%;
    color: black;
    font-size: 18px;
    transition: 0.6s ease;
}
#scroll-up:hover, #scroll-down:hover {
    background-color: rgba(0, 0, 0, .2);
}
#scroll-container {
    overflow: auto;
    position: relative;
    height: 450px;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
#scroll-container::-webkit-scrollbar {
    display: none !important;
}
.scroll {
    right: 0;
    width: 100%;
    height: 100%;
}
.modal-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}
.modal-container img {
    display: block;
    position: relative;
    object-fit: contain;
    width: 23%;
    height: 100%;
    padding-right: 20px;
}
.modal-content {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 77%;
    height: 100%;
}
.modal-content p {
    text-align: left;
    vertical-align: middle;
}





/*
 * ====================================================================================
 * effect
 * ====================================================================================
 */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
