#logo {

}

#logo-img {

}

#logo-txt {
    margin-top: 0;
    margin-bottom: 10px;
}

#img-search {
    border-radius: 50%;
}

.return {
    padding: 10px;
}


#result {
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.slide-container {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 20px auto 20px auto;
}

.slideshow {
    position: relative;
}

.slideshow img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

.slide {
    display: none;
}

.slide-btn {

}

.result-info {
}

#prev, #next {
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 0;
    width: 10px;
    height: 23px;
    margin-top: 100px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#prev {
    float: left;
}

#next {
    float: right;
    border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover, .return:hover {
    background-color: lightgray;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*
 * -----------------------------
 * Modal
 * -----------------------------
 */
#slide-modal {
    visibility: visible;
    position: absolute;
    float: right;
    width: 300px;
    height: 30vh;
    overflow: auto;
    top: 0;
    right: 0;
    z-index: 1;
}
.modal-container {
    padding: 20px;
}

.slide-modal-img {
    position: absolute;
    left: 0;
    float: left;
}

.modal-content {
    position: relative;
    padding-left: 50px;
    left: 10px;
    text-align: left;
}

.modal-name {
    margin-top: 0;
    margin-bottom: 0;
}

.modal-progress {
    margin-top: 0;
}