<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Plant Recognizer</title>
        <link rel="stylesheet" href="../public/css/home.css">
        <link rel="stylesheet" href="../node_modules/cropperjs/dist/cropper.css">
    </head>
    <body>
        <div class="container center" id="blur">
            <!-- logo -->
            <div class="center">
                <img id="logo-img" src="../public/img/logo_temp.png" alt=""/>
                <h1 id="logo-txt">PLANT RECOGNIZER</h1>
            </div>

            <!-- img upload -->
            <div>
                <form class="my-form" id="img-upload">
                    <label class="button center" id="drop-area">
                        <input type="file" name="file" id="file-upload" accept="image/*" onchange="handleFiles(this.files)">
                        <img id="add-img" src="../public/img/add_image_temp.png" alt=""/>
                        <br/>
                        검색할 식물의 사진을 올려놓거나 눌러서 업로드하세요
                    </label>
                </form>
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">검색할 영역을 선택하세요</h5>
                    </div>
                    <div class="modal-body center">
                        <div class="img-container">
                            <img id="img-preview" src="" alt="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn">완료</button>
                        <button id="cancel" type="button" class="btn" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="../public/js/dragdrop.js"></script>
    <script src="../node_modules/cropperjs/dist/cropper.js"></script>
    <!-- not used -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
</html>
