<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Plant Recognizer</title>
    <link rel="stylesheet" href="../public/css/load.css">
</head>
<body>
<!-- logo -->
<div class="center">
    <img id="logo-img" src="../public/img/logo_temp.png" alt=""/>
    <h1 id="logo-txt">PLANT RECOGNIZER</h1>
</div>
<!-- loading -->
<div class="loader center"></div>
</body>
</html>