<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Plant Recognizer</title>
        <link rel="stylesheet" href="css/load.css">
    </head>
    <body>
    <!-- logo -->
    <%- include('logo') %>

    <!-- loading -->
    <div class="loader center"></div>
    </body>
</html>