<% for(var i = 0; i < length; i++) { %>
    <div class="modal-container">
        <img src="img/hibiscus-rosa-sinensis.jpg" alt=""/>
        <div class="modal-content">
            <p>하와이 무궁화</p>
            <p><progress value="62" max="100"></progress>62%</p>
        </div>
    </div>
<% } %>