<% for(var i = 0; i < result_len; i++) { %>
    <a href="/result?id=">
        <div class="modal-container">
            <img src="img/hibiscus-rosa-sinensis.jpg" alt=""/>
            <div class="modal-content">
                <p class="result-name other">하와이 무궁화</p>
                <div class="progress other">
                    <div class="progress-value"></div>
                </div>
                <p class="progress-txt other">62%</p>
            </div>
        </div>
    </a>
<% } %>