<% for(var i = 0; i < result_len; i++) { %>
<<<<<<< HEAD
    <div class="modal-container">
        <img class="img-other-result" src="" alt=""/>
        <div class="modal-content">
            <p class="result-name other"></p>
            <!--
            <div class="progress other">
                <div class="progress-value"></div>
            </div>
            <p class="progress-txt other">62%</p>
            -->
        </div>
    </div>
<% } %>