<% for(var i = 0; i < 10; i++) { %>
    <a class="result-other-href">
        <div class="modal-container">
            <img class="img-other-result" src="" alt=""/>
            <div class="modal-content">
                <p class="result-name other"></p>
                <!--
                <div class="progress other">
                    <div class="progress-value"></div>
                </div>
                <p class="progress-txt other"></p>
                -->
            </div>
        </div>
    </a>
<% } %>