<% for(var i = 0; i < result_len; i++) { %>
    <div class="modal-container">
        <img src="img/hibiscus-rosa-sinensis.jpg" alt=""/>
        <div class="modal-content">
            <p class="result-name">하와이 무궁화</p>
            <p class="progress-txt"><progress value="62" max="100"></progress>62%</p>
        </div>
    </div>
<% } %>